<p>
  <strong>Receiver name:</strong>
  <%= @courier.receiver_name %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @courier.contact_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @courier.address %>
</p>
