

<div>
  <h2 align="center">Location</h2>
  <p align="center"><strong>136, M.G. Marg, Civil Lines, Allahabad.</strong></p>
  <br />
  <br />

<p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3602.6380143268693!2d81.8343431!3d25.450362900000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399acadb065daa75%3A0x57977bc9e36d7b16!2sMG+Marg%2C+Civil+Lines!5e0!3m2!1sen!2sin!4v1397485134011" width="400" height="300" frameborder="0" style="border:0"></iframe>
</p>

</div>